@import url(reset.css);
@import url(fonts/font.css);
/**/
/**/
::-moz-selection {
  background: white;
  color: #222222;
  text-shadow: none; }

::selection {
  background: white;
  color: #222222;
  text-shadow: none; }

/**/
body {
  font-family: "San Francisco Display", sans-serif;
  background: #1fcc7a;
  color: white;
  padding: 40px;
  line-height: 1.3;
  min-height: 100%;
  font-size: 14px;
  border-top: 10px solid white; }

.background {
  background-position: center center;
  background-size: cover;
  background-clip: padding-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.03;
  -webkit-transform: translateZ(0);
  transform: translate3d(0, 0, 0); }

hr {
  margin: 40px 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 0px;
  background: #222222; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

h1 {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 40px; }

h2 {
  margin: 0 0 50px;
  font-size: 18px;
  font-weight: 400; }

h3 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 700; }
  h3 a {
    text-decoration: none; }
    h3 a:hover {
      border-bottom: 5px solid white; }

h4 {
  margin: 0 0 20px;
  font-size: 11px;
  text-transform: uppercase; }
  h4 span {
    display: inline-block;
    width: 30px;
    height: 11px;
    background: #222222;
    margin-right: 5px;
    margin-left: -40px; }

p {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5; }

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white; }
  a:hover {
    color: black; }
  a.open {
    background: white;
    font-size: 11px;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    padding: 5px; }
    a.open:hover {
      background: #222222;
      color: white; }

header {
  position: relative;
  z-index: 1; }

header.sub {
  margin-bottom: 50px; }
  header.sub ul li {
    display: inline-block;
    margin-right: 10px; }
    header.sub ul li a {
      border: 0; }
    header.sub ul li a:hover {
      color: white;
      border-bottom: 2px solid white; }
    header.sub ul li.active a {
      color: #222222; }

nav.home {
  margin: 40px 0 0; }
  nav.home h3 {
    margin-bottom: 10px; }
  nav.home h3 a {
    color: white;
    border: 0; }
    nav.home h3 a:hover {
      border-bottom: 5px solid white; }

.container {
  position: relative;
  z-index: 1; }
  .container.inner {
    max-width: 750px; }

.section {
  display: none; }

.container ul {
  padding: 0;
  margin: 0; }
  .container ul li {
    font-size: 18px;
    list-style-type: circle;
    padding: 0 0 20px 0;
    margin: 0 0 0 20px; }
    .container ul li:last-child {
      padding: 0 0 0 0; }
    .container ul li a {
      display: inline-block;
      font-weight: 500; }
    .container ul li p {
      margin-top: 10px; }

.container.bio ul li {
  font-size: 18px;
  list-style: none;
  margin: 0; }

img {
  max-width: 100%; }

footer {
  position: relative;
  z-index: 1;
  margin-top: 100px;
  font-size: 10px; }

@media only screen and (max-width: 480px), (max-height: 500px) {
  body {
    padding: 40px; } }
