@import url(reset.css);
/**/
/**/
::-moz-selection {
  background: #fff;
  color: #222;
  text-shadow: none; }

::selection {
  background: #fff;
  color: #222;
  text-shadow: none; }

/**/
html {
  overscroll-behavior: none;
}
body {
  font-family: Courier, monospace;
  background: #f2f2f2;
  color: #222;
  line-height: 1.3;
  font-size: 13px;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  padding: 5%;
}

h1,h2,h3,h4,h5,h6 {font-weight: normal;}

h1 {
  font-size: 14px;
}

img.me {
  margin: 15000px 0 0;
  display: block;
  float: right;
}

img {
  filter: grayscale(100%);
}

img:hover, img.color {
  filter: grayscale(0);
}

table:focus {
  outline: 0;
}

table td {
  vertical-align: top;
}

table td:first-child {
  padding-right: 20px;
}