@import "reset.css";
@import "fonts/font.css";
@import "nprogress.css";

/**/

$black: #222;
$accent: #4074FC;
$contrast_accent: #fff;
$light_accent: #40FFA5;
$width: 650px;
$font: 'Chivo', sans-serif;

/**/

::-moz-selection { background: $black; color: white; text-shadow: none; }
::selection { background: $black; color: white; text-shadow: none; }

/**/

//

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// 

body {
  font-family: $font;
  background: $accent;
  color: white;
  padding: 50px 40px 40px;
  line-height: 1.5;
  min-height: 100%;
  font-size: 14px;
  border-top: 10px solid white;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}

.background {
  background-position: center center;
  background-size: cover;
  background-clip: padding-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.05;
  -webkit-transform: translateZ(0);
  transform: translate3d(0, 0, 0);
}

hr {
  margin: 40px 0;
  padding: 0;
  border: 0;
  // border-bottom: 1px solid $hr_color;
  width: 100%;
  height: 0px;
  background: $black;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 42px;
}

h2 {
  margin: 0 0 40px;
  font-size: 18px;
  font-weight: 400;
}

h3 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 700;

  a {
    text-decoration: none;

    &:hover {
      border-bottom: 5px solid white;
    }
  }

  &.inline {
    margin-top: 40px;
  }
}

h4 {
  margin: 0 0 20px;
  font-size: 11px;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  @include transition(all, 100ms, ease-in-out);

  &:hover {
    color: $black;
    border-color: $black;
  }

  &.open {
    background: white;
    font-size: 11px;
    text-transform: uppercase;
    color: $black;
    text-decoration: none;
    padding: 5px;

    &:hover {
      background: $black;
      color: white;
    }
  }
}

header {
  position: relative;
  z-index: 1;
}

header.sub {
  margin: 0 auto 40px;

  ul {
    margin-left: -10px;
  }

  ul li {
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;

    a {
      border: 0;
      padding: 5px 10px;
    }

    a:hover {
      color: white;
      background: lighten($accent, 5%);
    }

    &.active {
      a {
        color: white;
        background: black;
      }
    }
  }
}

nav.home {
  margin: 30px -10px 0;
  padding: 10px 0 0;
  overflow: hidden;

  h3 {
    display: inline;
    float: left;
    margin-bottom: 10px;
  }

  h3 a {
    color: white;
    border: 0;
    padding: 10px;

    img {
      position: relative;
      top: 1px;
    }

    &:hover {
      background: black;
    }
  }
}

.current-status {
  padding: 30px 0 0;
  clear: both;

  a {
    display: inline-block;
    vertical-align: middle;
    border: 0;
  }

  img {
    padding-right: 10px;
  }

  h4 {
    margin: 0;
    padding: 0 0 5px;
    font-size: 14px;
    text-transform: none;

    a {
      border: 0;
    }
  }

  h2 {
    font-weight: bold;
  }
}

.container {
  position: relative;
  z-index: 1;

  &.inner {
    max-width: $width;
  }

  @include transition(all, 400ms, cubic-bezier(0.645, 0.045, 0.355, 1.000));
  -webkit-perspective: 1000;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;

  &.anim-in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.section {
  display: none;
}

.container ul {
  padding: 0;
  margin: 0;

  li {
    font-size: 18px;
    list-style-type: circle;
    padding: 0 0 20px 0;
    margin: 0 0 0 20px;

    &:last-child {
      padding: 0 0 0 0;
    }

    a {
      display: inline-block;
      font-weight: 500;
    }

    p {
      margin-top: 10px;
    }
  }
}

.container.bio ul li {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;

  &.profile {
    display: block;
    margin-bottom: 40px;
  }
}

footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 40px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  p {
    font-size: 11px;
    font-weight: bold;
  }

  a {
    border: 0;
  }
}

@media only screen and (max-width: 480px), (max-height: 500px) {
  body {
    padding: 20px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 16px;
  }

  nav.home {
    margin: 20px -10px 0;

    h3 {
      float: none;
      display: block;
      margin-bottom: 10px;
    }
  }

  .current-status {
    img {
      display: none;
    }
  }

  img.profile {
    margin-bottom: 20px;
  }

  .container ul {
    li {
      font-size: 14px;
    }
  }

  header.sub {
    margin: 0 auto 20px;

    ul li {
      width: 49%;
      margin: 0 0 10px 0;
    }
  }

  footer {
    opacity: 1;
    margin-top: 40px;
    position: relative;
    padding: 0;
  }
}