@import url(reset.css);
/**/
/**/
::-moz-selection {
  background: #dadada;
  color: #222222;
  text-shadow: none; }

::selection {
  background: #dadada;
  color: #222222;
  text-shadow: none; }

/**/
body {
  font-family: "Inconsolata", sans-serif;
  background: #dadada;
  color: #222222;
  padding: 40px;
  line-height: 1.3;
  min-height: 100%;
  font-size: 14px; }

.background {
  background-position: center center;
  background-size: cover;
  background-clip: padding-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.03;
  -webkit-transform: translateZ(0);
  transform: translate3d(0, 0, 0); }

hr {
  margin: 40px 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 0px;
  background: #222222; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

h1 {
  margin: 0 0 40px;
  font-size: 24px; }

h2 {
  margin: 0 0 20px;
  font-size: 18px; }

h3 {
  margin: 0 0 20px;
  font-size: 14px; }

h4 {
  margin: 0 0 20px;
  font-size: 11px;
  text-transform: uppercase; }
  h4 span {
    display: inline-block;
    width: 30px;
    height: 11px;
    background: #222222;
    margin-right: 5px;
    margin-left: -40px; }

p {
  font-size: 14px; }

a {
  color: #222222; }
  a:hover {
    color: #222222;
    text-decoration: none; }
  a.open {
    background: white;
    font-size: 11px;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    padding: 5px; }
    a.open:hover {
      background: #222222;
      color: white; }

header {
  position: relative;
  z-index: 1; }

header nav ul {
  padding-bottom: 20px; }
header nav ul li {
  font-size: 11px;
  display: inline-block; }

.container {
  max-width: 550px;
  position: relative;
  z-index: 1; }

.section {
  display: none; }

.container ul {
  padding: 0;
  margin: 0; }
  .container ul li {
    list-style-type: square;
    padding: 0 0 20px 0; }
    .container ul li:last-child {
      padding: 0 0 0 0; }
    .container ul li a {
      display: inline-block; }
    .container ul li p {
      margin-top: 10px; }

img {
  max-width: 100%; }

footer {
  margin-top: 40px; }

@media only screen and (max-width: 480px), (max-height: 500px) {
  body {
    padding: 40px; } }
