@import "reset.css";

/**/

$black: #222;
$accent: rgb(190, 84, 66);
$contrast_accent: #fff;
$light_accent: #40FFA5;
$width: 650px;
$font: 'Archivo Black', sans-serif;

/**/

::-moz-selection { background: $black; color: white; text-shadow: none; }
::selection { background: $black; color: white; text-shadow: none; }

/**/

body {
  font-family: $font;
  background: #ffffea;
  color: $black;
  line-height: 1.3;
  font-size: 14px;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}

.bg {
  position: fixed;
  background-size: 100%;
  background-position: center;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  z-index: 0;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
  margin: 0 0 20px;
  padding: 0;
}

h1 {
  font-size: 60px;
  line-height: 55px;
}

h2 {
  font-size: 26px;
  line-height: 29px;
}

h3 {
  font-size: 16px;
  margin: 500px 0 0;
}

a {
  color: $black;
  text-decoration: none;
  border-bottom: 5px solid $black;

  &:hover {
    border-bottom: 5px dotted $black;
  }
}

.content {
  display: inline-block;
  padding: 35px;
  max-width: 500px;
  z-index: 1;
  position: relative;
}

.box {
  display: block;
  width: 35px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: $black;

  &:hover {
    background: white;
  }
}